body{
    background-color: #F0ECE5;
}

#navigation{
    background-color: #B6BBC4;
}
#footer{
    background-color: #31304D;
}
#check{
    background-color: #31304D;
}
.overview{
    background-color: #31304D;
}
.ab{
    color: rgb(255, 255, 255);
}
.nor{
    color: #F0ECE5;
}